openapi: 3.0.3
info:
  title: Novu Environments Integrations API
  description: 'The Novu REST API drives open-source notification infrastructure that sends multi-channel messages - email, SMS, push, chat, and an in-app Inbox - from a single workflow trigger. A trigger event fans a notification out across the channels defined in a workflow. This document models the core resources - Events (Trigger), Subscribers, Topics, the in-app Inbox feed, Messages, Notifications (activity), Workflows, Integrations, Layouts, subscriber Preferences, Environments, and Translations. Novu is open source (MIT) and self-hostable, and also runs as Novu Cloud with US and EU regions. All requests authenticate with a secret API key sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`. Endpoints are grounded in Novu''s published API reference; request/response bodies are modeled at a representative level rather than field-complete.'
  version: '1.0'
  contact:
    name: Novu
    url: https://novu.co
  license:
    name: MIT
    url: https://github.com/novuhq/novu/blob/next/LICENSE
servers:
- url: https://api.novu.co/v1
  description: Novu Cloud - US (default)
- url: https://eu.api.novu.co/v1
  description: Novu Cloud - EU
security:
- apiKeyAuth: []
tags:
- name: Integrations
  description: Channel provider configurations.
paths:
  /integrations:
    post:
      operationId: createIntegration
      tags:
      - Integrations
      summary: Create an integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationInput'
      responses:
        '201':
          description: The created integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listIntegrations
      tags:
      - Integrations
      summary: List all integrations
      responses:
        '200':
          description: A list of integrations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /integrations/active:
    get:
      operationId: listActiveIntegrations
      tags:
      - Integrations
      summary: List active integrations
      responses:
        '200':
          description: A list of active integrations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /integrations/{integrationId}:
    parameters:
    - name: integrationId
      in: path
      required: true
      schema:
        type: string
    put:
      operationId: updateIntegration
      tags:
      - Integrations
      summary: Update an integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationInput'
      responses:
        '200':
          description: The updated integration.
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteIntegration
      tags:
      - Integrations
      summary: Delete an integration
      responses:
        '200':
          description: Deletion result.
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/{integrationId}/set-primary:
    post:
      operationId: setIntegrationPrimary
      tags:
      - Integrations
      summary: Set integration as primary
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The updated integration.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Integration:
      allOf:
      - $ref: '#/components/schemas/IntegrationInput'
      - type: object
        properties:
          _id:
            type: string
          _environmentId:
            type: string
          primary:
            type: boolean
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    IntegrationInput:
      type: object
      required:
      - providerId
      - channel
      properties:
        providerId:
          type: string
          description: Provider slug (for example sendgrid, twilio, fcm, apns, slack).
        channel:
          type: string
          enum:
          - in_app
          - email
          - sms
          - chat
          - push
        credentials:
          type: object
          additionalProperties: true
        active:
          type: boolean
        name:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Novu secret API key from the Dashboard API Keys page, sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`.'
