openapi: 3.0.3
info:
  title: Novu Environments Translations API
  description: 'The Novu REST API drives open-source notification infrastructure that sends multi-channel messages - email, SMS, push, chat, and an in-app Inbox - from a single workflow trigger. A trigger event fans a notification out across the channels defined in a workflow. This document models the core resources - Events (Trigger), Subscribers, Topics, the in-app Inbox feed, Messages, Notifications (activity), Workflows, Integrations, Layouts, subscriber Preferences, Environments, and Translations. Novu is open source (MIT) and self-hostable, and also runs as Novu Cloud with US and EU regions. All requests authenticate with a secret API key sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`. Endpoints are grounded in Novu''s published API reference; request/response bodies are modeled at a representative level rather than field-complete.'
  version: '1.0'
  contact:
    name: Novu
    url: https://novu.co
  license:
    name: MIT
    url: https://github.com/novuhq/novu/blob/next/LICENSE
servers:
- url: https://api.novu.co/v1
  description: Novu Cloud - US (default)
- url: https://eu.api.novu.co/v1
  description: Novu Cloud - EU
security:
- apiKeyAuth: []
tags:
- name: Translations
  description: Localization of notification content.
paths:
  /translations:
    post:
      operationId: createTranslation
      tags:
      - Translations
      summary: Create a translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationInput'
      responses:
        '201':
          description: The created translation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /translations/{resourceType}/{resourceId}/{locale}:
    parameters:
    - name: resourceType
      in: path
      required: true
      schema:
        type: string
    - name: resourceId
      in: path
      required: true
      schema:
        type: string
    - name: locale
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getTranslation
      tags:
      - Translations
      summary: Retrieve a translation
      responses:
        '200':
          description: The requested translation.
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTranslation
      tags:
      - Translations
      summary: Delete a translation
      responses:
        '200':
          description: Deletion result.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    TranslationInput:
      type: object
      required:
      - resourceType
      - resourceId
      - locale
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
        locale:
          type: string
        content:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Novu secret API key from the Dashboard API Keys page, sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`.'
