openapi: 3.0.3
info:
  title: Novu Environments Notifications API
  description: 'The Novu REST API drives open-source notification infrastructure that sends multi-channel messages - email, SMS, push, chat, and an in-app Inbox - from a single workflow trigger. A trigger event fans a notification out across the channels defined in a workflow. This document models the core resources - Events (Trigger), Subscribers, Topics, the in-app Inbox feed, Messages, Notifications (activity), Workflows, Integrations, Layouts, subscriber Preferences, Environments, and Translations. Novu is open source (MIT) and self-hostable, and also runs as Novu Cloud with US and EU regions. All requests authenticate with a secret API key sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`. Endpoints are grounded in Novu''s published API reference; request/response bodies are modeled at a representative level rather than field-complete.'
  version: '1.0'
  contact:
    name: Novu
    url: https://novu.co
  license:
    name: MIT
    url: https://github.com/novuhq/novu/blob/next/LICENSE
servers:
- url: https://api.novu.co/v1
  description: Novu Cloud - US (default)
- url: https://eu.api.novu.co/v1
  description: Novu Cloud - EU
security:
- apiKeyAuth: []
tags:
- name: Notifications
  description: Activity feed of triggered workflow executions (events).
paths:
  /notifications:
    get:
      operationId: listNotifications
      tags:
      - Notifications
      summary: List all events
      description: Lists the activity feed of triggered workflow executions (events).
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: channels
        in: query
        schema:
          type: array
          items:
            type: string
      - name: transactionId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A page of notification/event records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications/{notificationId}:
    get:
      operationId: getNotification
      tags:
      - Notifications
      summary: Retrieve an event
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested notification/event with per-step execution detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Notification:
      type: object
      properties:
        _id:
          type: string
        transactionId:
          type: string
        _subscriberId:
          type: string
        channels:
          type: array
          items:
            type: string
        jobs:
          type: array
          description: Per-step execution detail for the triggered workflow.
          items:
            type: object
            additionalProperties: true
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Novu secret API key from the Dashboard API Keys page, sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`.'
