openapi: 3.0.3
info:
  title: Novu Environments Layouts API
  description: 'The Novu REST API drives open-source notification infrastructure that sends multi-channel messages - email, SMS, push, chat, and an in-app Inbox - from a single workflow trigger. A trigger event fans a notification out across the channels defined in a workflow. This document models the core resources - Events (Trigger), Subscribers, Topics, the in-app Inbox feed, Messages, Notifications (activity), Workflows, Integrations, Layouts, subscriber Preferences, Environments, and Translations. Novu is open source (MIT) and self-hostable, and also runs as Novu Cloud with US and EU regions. All requests authenticate with a secret API key sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`. Endpoints are grounded in Novu''s published API reference; request/response bodies are modeled at a representative level rather than field-complete.'
  version: '1.0'
  contact:
    name: Novu
    url: https://novu.co
  license:
    name: MIT
    url: https://github.com/novuhq/novu/blob/next/LICENSE
servers:
- url: https://api.novu.co/v1
  description: Novu Cloud - US (default)
- url: https://eu.api.novu.co/v1
  description: Novu Cloud - EU
security:
- apiKeyAuth: []
tags:
- name: Layouts
  description: Reusable email layout wrappers.
paths:
  /layouts:
    post:
      operationId: createLayout
      tags:
      - Layouts
      summary: Create a layout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutInput'
      responses:
        '201':
          description: The created layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listLayouts
      tags:
      - Layouts
      summary: List all layouts
      responses:
        '200':
          description: A page of layouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Layout'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /layouts/{layoutId}:
    parameters:
    - name: layoutId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getLayout
      tags:
      - Layouts
      summary: Retrieve a layout
      responses:
        '200':
          description: The requested layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateLayout
      tags:
      - Layouts
      summary: Update a layout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutInput'
      responses:
        '200':
          description: The updated layout.
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteLayout
      tags:
      - Layouts
      summary: Delete a layout
      responses:
        '200':
          description: Deletion result.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    LayoutInput:
      type: object
      required:
      - name
      - content
      properties:
        name:
          type: string
        identifier:
          type: string
        content:
          type: string
        description:
          type: string
        isDefault:
          type: boolean
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    Layout:
      allOf:
      - $ref: '#/components/schemas/LayoutInput'
      - type: object
        properties:
          _id:
            type: string
          _environmentId:
            type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Novu secret API key from the Dashboard API Keys page, sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`.'
