openapi: 3.0.3
info:
  title: Novu Environments Topics API
  description: 'The Novu REST API drives open-source notification infrastructure that sends multi-channel messages - email, SMS, push, chat, and an in-app Inbox - from a single workflow trigger. A trigger event fans a notification out across the channels defined in a workflow. This document models the core resources - Events (Trigger), Subscribers, Topics, the in-app Inbox feed, Messages, Notifications (activity), Workflows, Integrations, Layouts, subscriber Preferences, Environments, and Translations. Novu is open source (MIT) and self-hostable, and also runs as Novu Cloud with US and EU regions. All requests authenticate with a secret API key sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`. Endpoints are grounded in Novu''s published API reference; request/response bodies are modeled at a representative level rather than field-complete.'
  version: '1.0'
  contact:
    name: Novu
    url: https://novu.co
  license:
    name: MIT
    url: https://github.com/novuhq/novu/blob/next/LICENSE
servers:
- url: https://api.novu.co/v1
  description: Novu Cloud - US (default)
- url: https://eu.api.novu.co/v1
  description: Novu Cloud - EU
security:
- apiKeyAuth: []
tags:
- name: Topics
  description: Group subscribers into addressable audiences.
paths:
  /topics:
    post:
      operationId: createTopic
      tags:
      - Topics
      summary: Create a topic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicInput'
      responses:
        '201':
          description: The created topic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listTopics
      tags:
      - Topics
      summary: List all topics
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A page of topics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Topic'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /topics/{topicKey}:
    parameters:
    - $ref: '#/components/parameters/TopicKey'
    get:
      operationId: getTopic
      tags:
      - Topics
      summary: Retrieve a topic
      responses:
        '200':
          description: The requested topic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTopic
      tags:
      - Topics
      summary: Delete a topic
      responses:
        '200':
          description: Deletion result.
        '404':
          $ref: '#/components/responses/NotFound'
  /topics/{topicKey}/subscribers:
    parameters:
    - $ref: '#/components/parameters/TopicKey'
    post:
      operationId: addSubscribersToTopic
      tags:
      - Topics
      summary: Create topic subscriptions
      description: Adds subscribers to a topic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribers:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Subscription result.
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeSubscribersFromTopic
      tags:
      - Topics
      summary: Delete topic subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribers:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Removal result.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Topic:
      allOf:
      - $ref: '#/components/schemas/TopicInput'
      - type: object
        properties:
          _id:
            type: string
          _environmentId:
            type: string
          subscribers:
            type: array
            items:
              type: string
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    TopicInput:
      type: object
      required:
      - key
      - name
      properties:
        key:
          type: string
        name:
          type: string
  parameters:
    TopicKey:
      name: topicKey
      in: path
      required: true
      description: The user-defined unique key of the topic.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Novu secret API key from the Dashboard API Keys page, sent as `Authorization: ApiKey <NOVU_SECRET_KEY>`.'
